.diferencial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.qualidade{
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  width: 250px;
  height: auto;
  flex-direction: column-reverse;
  
}
.entrega{
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
   width: 250px;
  height: auto;
}
.cuidado{
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
   width: 250px;
  height: auto;
}
.amor{
  background-color: whitesmoke;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
   width: 250px;
  height: auto;
}
.banner{
  width: 100%;
  height: auto;
  margin-top: -110px;
  margin-bottom: -100px;
}
a{
  color: white;
  text-decoration: none;
}
.header1 ol{
   display: flex;
  gap: 20px;
  font-family: "Sigmar", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}
.header1{
  grid-row: 2/3;
  background-color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  padding-bottom: 0;
  
}
.nav1{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100px;
}
img{
  width: 35px;
  height: 35px;
}
li{
   list-style: none;
}
.sec1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.pesquisa{
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  justify-content: center;
  align-items: center;
}

.pesquisa input{
  border: none;
  outline: none;
  padding: 10px;
  width: 250px;
  border-radius: 50px;
  font-size: 16px;
}

.pesquisa button{
  border: none;
  background: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.pesquisa button:hover{
  background: darkorange;
}
.container{
    display: grid;
    grid-template-rows: 80px 40px auto 40px;
    height: 100vh;
    width: 100%;
    row-gap: 5px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 120px;
    height: 100px;

}
h1{
    color:rgb(255, 149, 0);
    font-family: "Sigmar", sans-serif;
}
header{
  position: sticky;
  top: 0px;
    background-color:white;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
main{
  row-gap: 10px;
    background-color: rgb(255, 255, 255);
    grid-row: 3/4;
    justify-content: center;
    align-items: center;
    
}
footer{
    background-color:rgb(83, 22, 22);
    grid-row: 4/5;
}
.tituloD{
  font-family: "Sigmar", sans-serif;
  color: brown;
  text-align: center;
}
.Diferencial{
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
h2{
  font-family: "Sigmar", sans-serif;
  color: orangered;

}
